{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .debug-info { 
        background: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .debug-info pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>

<div class="example-wrapper">
    <h1>Information du jour</h1>
    <pre>{{ message }}</pre>

    <div class="debug-info">
        <h2>Informations de debug :</h2>
        <pre>{{ debug_info|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    </div>

    <p>This friendly message is coming from:</p>
    <ul>
        <li>Your controller at <code>/Users/yoanbernabeu/YoanDev/AutoReview/src/Controller/AppController.php</code></li>
        <li>Your template at <code>/Users/yoanbernabeu/YoanDev/AutoReview/templates/app/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
